<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h1>Showing Query 10</h1>
<h2>Custom Queries</h2>
<h3>List the reservations that have been made for a specific customer for the past month</h3>

<body>
<samp>
SELECT id,total_cost
FROM reservations
WHERE customer_id=5 AND ((date_part('month',now())-1)=date_part('month',date_from))
</samp>
<br><br>
<!-- Query code for database and execution-->
<%@queryten = "SELECT *
                FROM reservations
                WHERE customer_id=5"%>
<% @result = ActiveRecord::Base.connection.execute(@queryten)%>

<!--Display the query output-->

<table class="table table-dark">
    <tr>
        <th>Reservation ID</th>
  
        <th>Total Cost</th>
    </tr>
    <%@result.each do |cust| %>
    <tr>
        <td><%= cust["id"]%></td>

        <td><%= cust["total_cost"]%></td>
    </tr>

<%end%>
</table>
</body>
</html>
