<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h1>Showing Query 5</h1>
<h2>Uses nested queries with any of the set operations UNION, EXCEPT, or INTERSECT</h2>
<h3>List the customers who have rented both a sedan and a minivan</h3>

<body>
<samp>
SELECT customers.first_name, customers.last_name
FROM customers
WHERE customers.id =    (SELECT reservations.customer_id
                        FROM reservations, vehicles
                        WHERE vehicles.id=reservations.vehicle_id AND vehicles.v_type='sedan'
                        INTERSECT
                        SELECT reservations.customer_id
                        FROM reservations, vehicles
                        WHERE vehicles.id=reservations.vehicle_id AND vehicles.v_type='minivan')
</samp>
<br><br>
<!-- Query code for database and execution-->
<%@queryfive = "SELECT customers.first_name, customers.last_name
                FROM customers
                WHERE customers.id =    (SELECT reservations.customer_id
                                        FROM reservations, vehicles
                                        WHERE vehicles.id=reservations.vehicle_id AND vehicles.v_type='sedan'
                                        INTERSECT
                                        SELECT reservations.customer_id
                                        FROM reservations, vehicles
                                        WHERE vehicles.id=reservations.vehicle_id AND vehicles.v_type='minivan' limit 1)"%>
<% @result = ActiveRecord::Base.connection.execute(@queryfive)%>

<!--Display the query output-->

<table class="table table-dark">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <%@result.each do |cust| %>
    <tr>
        <td><%= cust["first_name"]%></td>
        <td><%= cust["last_name"]%></td>
    </tr>

<%end%>
</table>

</body>
</html>
