<h1> showing Colors</h1>
<table class="table table-dark">
  <tr>
      <th>ID</th>
    <th>Color</th>

  </tr>
<% Color.all.each do |cust| %>

<tr>
  <td>  <%= cust.id %></td>
  <td>  <%= cust.color %></td>

</tr>
<% end %>

</table>
